body{
    background: rgb(68, 81, 255);
    font: normal 15pt arial;
}

header {
    color: white;
    text-align: center;
}

section {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    box-shadow:5px 5px 10px rgba(0, 0, 0, 0.568);
    margin:auto

}

footer {
    color: white;
    text-align: center;
    font-style: italic;
}

div{
    text-align: center;
    padding: 5px;

}